{% extends "base.html" %}
    {% block content %}
    <div class="container">
        <div class="row justify-content-center my-3">
          <h1 class="text-white font-weight-bold">Change Password</h1> <!-- Header of the page -->
        </div>
        <!-- div used to contain main page content -->
        <div class="row justify-content-center">
          <div class="col-8 bg-light rounded pt-4 px-5 pb-4">
            <form form action="/change_password" method="post" name="change_password">
              {{ form.hidden_tag() }}
              <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class_="form-control", placeholder_="Password must be 5-50 characters") }}
                {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                      [{{ error }}]
                    </div>
                    {% endfor %}
              </div>
              <div class="form-group">
                {{ form.confirmPassword.label }}
                {{ form.confirmPassword(class_="form-control", placeholder_="Please Re-enter Your Password") }}
                {% for error in form.confirmPassword.errors %}
                    <div class="alert alert-danger" role="alert">
                      [{{ error }}]
                    </div>
                    {% endfor %}
              </div>
              <p><input type=submit value="Change Password"></p>
            </form>
          </div>
        </div>
      </div>
    {% endblock %}