{% extends "base.html" %}
  {% block content %}
    <head>
        <script type="text/javascript">
            var user_id = '{{ customer_id }}'
        </script>
    </head>
    <div class="container">
        <div class="row justify-content-center mb-2 mt-3">
            {% if user_info.forename[-1] == "s" %}
                <h1 class="text-white font-weight-bold">{{ user_info.forename.capitalize() }}' Account</h1>
            {% else %}
                <h1 class="text-white font-weight-bold">{{ user_info.forename.capitalize() }}'s Account</h1>
            {% endif %}
        </div>
        <div class="row justify-content-center">
            <div class="col-8 bg-light rounded pt-3 px-4">
                {% if membership_entry != None %}
                <p>Edit customers membership!</p>
                <form form action="/employee/{{ customer_id }}" method="post" name="membership_edit_form">
                    {{ membership_edit_form.hidden_tag() }}
                    <div class="row">
                      <div class="form-group col 6">
                        {{ membership_edit_form.start_date.label }}
                        {{ membership_edit_form.start_date(class_="form-control") }}
                        {% for error in membership_edit_form.start_date.errors %}
                        <div class="alert alert-danger" role="alert">
                          [{{ error }}]
                        </div>
                        {% endfor %}
                      </div>
                      <div class="form-group col-6">
                        {{ membership_edit_form.type.label }}
                        {{ membership_edit_form.type(class_="form-control") }}
                        {% for error in membership_edit_form.type.errors %}
                        <div class="alert alert-danger" role="alert">
                          [{{ error }}]
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                    <p><input type=submit name="submitMembership" value="Submit"></p>
                </form>
                <form method="post" name="membership_cancel_form">
                    {{ membership_cancel_form.hidden_tag() }}
                    <p><input type="submit" name="cancelMembership" value="Cancel"></p>
                </form>
                {% else %}
                <p>Create customers membership!</p>
                <form form action="/employee/{{ customer_id }}" method="post" name="membership_add_form">
                    {{ membership_add_form.hidden_tag() }}
                    <div class="row">
                      <div class="form-group col 6">
                        {{ membership_add_form.start_date.label }}
                        {{ membership_add_form.start_date(class_="form-control") }}
                        {% for error in membership_add_form.start_date.errors %}
                        <div class="alert alert-danger" role="alert">
                          [{{ error }}]
                        </div>
                        {% endfor %}
                      </div>
                      <div class="form-group col-6">
                        {{ membership_add_form.type.label }}
                        {{ membership_add_form.type(class_="form-control") }}
                        {% for error in membership_add_form.type.errors %}
                        <div class="alert alert-danger" role="alert">
                          [{{ error }}]
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                    <p><input type=submit name="addMembership" value="Submit"></p>
                </form>
                {% endif %}
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-8 bg-light rounded pt-3 px-4">
                <hr>
                <!-- Card scroll area that shows each user's booked sessions -->
                <div class="container-fluid">
                    <h4 class="mt-3">Booked Sessions</h4>
                    <div class="scrolling-wrapper row flex-row flex-nowrap mt-2 pb-4 pt-2">
                        {% for session in booked_sessions %}
                          <div class="col-4" id="{{ session[0] }}">
                              <div class="card card-body card-block border border-info">
                                <h5 class="card-title">{{session[1]}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{session[2]}}</h6>
                                <h7 class="card-subtitle mb-2 text-muted">{{session[3]}}</h7>
                                <p class="card-text">Duration: {{session[4]}} hrs</p>
                                <button class="cancel_session btn btn-sm btn-info" id="{{ session[0] }}"name="{{user_info.id}}">Cancel</button>
                              </div>
                          </div>
                        {% endfor %}
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <br>
        <div class="col-12 bg-light rounded pt-3 px-4">
            <p>Filter sessions by:</p>
            <div class="pb-1 px-4">
                <input class="form-check-input" autocomplete="off" type='radio' name='filter' value='none' id="filter-none" checked>
                <label class="form-check-label" for="filter-none">
                    No filter
                </label>
                <br>
                <input class="form-check-input" autocomplete="off" type='radio' name='filter' value='sessions' id="filter-session">
                <label class="form-check-label" for="filter-session">
                    Filter by session
                </label>
                <br>
                <input class="form-check-input" autocomplete="off" type='radio' name='filter' value='locations' id="filter-location">
                <label class="form-check-label" for="filter-location">
                    Filter by location
                </label>
            </div>
            <!-- in the div below place the selectors for filtering -->
            <div class="mb-4" id="filter-selects">
            </div>
            <div class="row justify-content-center">
                <div class="calendar_container col-7 mr-5">
                    <div class="calendar_template">
                        <div class="months">
                            <i class="left_button bi bi-chevron-left"></i>
                            <div class="selected_date">
                                <h2></h2>
                                <p></p>
                            </div>
                            <i class="right_button bi bi-chevron-right"></i>
                        </div>
                        <div class="weekdays">
                            <div>Sun</div>
                            <div>Mon</div>
                            <div>Tue</div>
                            <div>Wed</div>
                            <div>Thu</div>
                            <div>Fri</div>
                            <div>Sat</div>
                        </div>
                        <div class="days">
                        </div>
                    </div>
                </div>
                <div class="col-3 bg-light rounded pt-3" id="sessions">
                </div>
            </div>
            <br>
        </div>
    </div>
{% endblock %}